@using EnerGym.ViewModels.WorkoutPlanViewModels;

@model EditPlanViewModel;
@{
    ViewData["Title"] = "Edit Plan";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.PlanName" class="form-label-add-edit">Plan Name</label>
                    <input asp-for="@Model.PlanName" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.PlanName" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-2">
                <label asp-for="@Model.PlanDescription" class="form-label-add-edit">Description</label>
                <textarea asp-for="@Model.PlanDescription" class="form-control" aria-required="true" rows="2" placeholder=@Model.PlanDescription></textarea>
                <span asp-validation-for="@Model.PlanDescription" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="@Model.ImageUrl" class="form-label-add-edit">ImageURL</label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="false" placeholder=@Model.ImageUrl />
                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-center mb-2">
                <input class="btn-warning btn-dark-text w-25 fw-bold rounded" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
